*,
*:before,
*:after {
padding: 0;
margin: 0;
border: 0;
box-sizing: border-box;
}

html,body{
    height: 100%;
    background-color: #333;
    font-family: Arial, Helvetica, sans-serif;
    color: #fff;
    font-size: 20px;
}

.wrapper{
    min-height: 100%;
    padding: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.timer{
    width: 500px;
    height: 500px;
    border-radius: 50%;
    background-color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    position: relative;
}

.timer:before{
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 50%;
    height: 100%;
    z-index: 3;
    background-color: #fff;
    animation: mask__left 33s steps(1, end) forwards;
}
.timer:after{
    content: "";
    position: absolute;
    top: 0;
    right:0;
    width: 50%;
    height: 100%;
    z-index: 3;
    background-color: rgb(231, 14, 14);
    animation: mask__right 33s steps(1, end) forwards;
}
.timer__line{
    position: absolute;
    top: 0%;
    left: 0%;
    width: 100%;
    height: 100%;
    animation: line 33s linear forwards;
    z-index: 2;
}
.timer__line:after{
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 50%;
    height: 100%;
    background-color: rgb(231, 14, 14) ;

}
.timer__body{
    width: 250px;
    height: 250px;
    border-radius: 50%;
    background-color: #333;
    text-align: center;
    overflow: hidden;
    z-index: 4;
   
}
.timer__counter{
    animation: counter 33s steps(32, end) forwards;

}
.timer__counter span{
    font-size: 90px;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 250px;
}
@keyframes counter {
    0%{

    }
    100%{
        transform: translate(0px, -8000px);
    }
}
@keyframes line {
    0%{

    }
    100%{
        transform: rotate(360deg);
    }
}
@keyframes mask__left {
    0%{
        visibility: visible;
    }
    50%,
    100%{
        visibility: hidden;
    }
}
@keyframes mask__right {
    0%{
        visibility: hidden;
    }
    50%,
    100%{
        visibility: visible;
    }
}
 
 